
<table class='table'>
  <tbody>
    <% comments.each do |comment| %>
      <tr>
        <td><%= comment.user.email %></td>
        <td><%= comment.desc %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
