<%= simple_form_for @post, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.association :post_category, :prompt => "Please Select Category" %>
  <%= f.input :user_id, :input_html => { :value => current_user.id }, :as => :hidden %>
  <%= f.input :title %>
  <%= f.input :desc %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                posts_path, :class => 'btn' %>
  </div>
<% end %>
